<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASTERMIND</title>
</head>
<body>
    <h1>MASTERMIND</h1>
    <h2>Règles du jeu</h2>
    <p>
    Trouver la bonne combinaison de quatre couleurs secrètes que notre 'IA' aura généré.<br>
    A chaque couleur bien positionnée, vous aurez en retour un indicateur vert.<br>
    A chaque couleur présente mais mal positionnée, vous aurez en retour un indicateur rouge.<br>
    </p>

    {% block content %}
    {% endblock %}
</body>
</html>